<div class="panel panel-default">
	<div class="panel-heading">Create a New User</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="userName">User Name</label>
			<input type="text" class="form-control" ng-model="userName" id="userName" placeholder="User Name">
		</div>
		<div class="form-group">
			<label for="passWord">Pass Word</label>
			 <input type="password" class="form-control" ng-model="passWord" id="passWord" placeholder="Pass Word">
		</div>
                <div class="form-group">
                      <label for="roles">Roles</label>
                             <select class="form-control" ng-model="newroles" ng-options="ur.key as ur.value for ur in roles"></select>
        </div>
        <div>
		<button type="button" class="btn btn-default" ng-click="add()">Submit</button>
        </div>
	</div>
</div>
